<div mat-dialog-content>
      <form [formGroup]="productForm" class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="nome" name="nome">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <mat-label>Quantidade</mat-label>
          <input matInput formControlName="quantidade" name="quantidade">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Valor</mat-label>
          <input matInput type="number" class="example-full-width" formControlName="valor" name="valor">
          <span matPrefix>R$&nbsp;</span>
          <span matSuffix>.00</span>
        </mat-form-field>
        <br>
      </form>

      <mat-dialog-actions>
      <button mat-raised-button color="primary" (click)="saveProduct()">Salvar</button>
      <button mat-raised-button (click)="cancel()">Cancelar</button>
    </mat-dialog-actions>
</div>
